# virtualenv / local
.venv/
__pycache__/
.mypy_cache/
.DS_Store

# editors / IDE
.vscode/

# Project‑specific folders
adda/
if-dda/
ddscat*/
bin/*
!bin/ddscat.par
!bin/ddpostprocess.par
!bin/shape.dat
!bin/shape_ifdda.dat

# Output files/folders
outputs/
*.log