# virtualenv / local
.venv/
__pycache__/
.mypy_cache/
.DS_Store
.tox/

# editors / IDE
.vscode/

# build artifacts
dist/
*.egg-info/
build/

# Project‑specific folders
adda/
if-dda/
ddscat*/
dda_bench/bin/*
!dda_bench/bin/diel/
!dda_bench/bin/ddscat.par
!dda_bench/bin/ddpostprocess.par
!dda_bench/bin/shape.dat
!dda_bench/bin/shape_ifdda.dat

# Output files/folders
outputs/
*.log